<font size=5, font color='blue'> stata_df is the dataframe downloaded through Stata API

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

stata_df = pd.read_stata("FRED.dta")
stata_df.head()

,datestr,daten,GDPA,GDPCA,A939RX0Q048SBEA,FPCPITOTLZGUSA,B230RC0A052NBEA,A929RC1A027NBEA,W006RC1Q027SBEA,W068RCQ027SBEA,...,RIFSPFFNA,FYFSGDA188S,AFRECPT,BOGMBASE,M1SL,M2SL,UNRATE,USSTHPI,BOGZ1FL073161113Q,RIFSGFSM03NA
0,1929-01-01,1929-01-01,104.556000,1191.124023,NaN,NaN,121878.0,20.113001,NaN,NaN,...,NaN,0.70202,3.694,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1930-01-01,1930-01-01,92.160004,1089.785034,NaN,NaN,123188.0,15.821000,NaN,NaN,...,NaN,0.80078,2.936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1931-01-01,1931-01-01,77.390999,1019.976990,NaN,NaN,124149.0,9.097000,NaN,NaN,...,NaN,-0.59697,1.939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1932-01-01,1932-01-01,59.521999,888.414001,NaN,NaN,124949.0,3.977000,NaN,NaN,...,NaN,-4.59494,1.624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1933-01-01,1933-01-01,57.153999,877.431030,NaN,NaN,125690.0,3.940000,NaN,NaN,...,NaN,-4.55261,2.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<font size=5, font color='blue'> python_df is the dataframe downloaded through Python API.

In [2]:
python_df = pd.read_pickle("FRED.pkl")
python_df.head()

,GDPA,GDPCA,A939RX0Q048SBEA,FPCPITOTLZGUSA,B230RC0A052NBEA,A929RC1A027NBEA,W006RC1Q027SBEA,W068RCQ027SBEA,EXPGSA,IMPGSA,...,RIFSPFFNA,FYFSGDA188S,AFRECPT,BOGMBASE,M1SL,M2SL,UNRATE,USSTHPI,BOGZ1FL073161113Q,RIFSGFSM03NA
1929-01-01,104.556,1191.124,NaN,NaN,121878.0,20.113,NaN,NaN,5.939,5.556,...,NaN,0.70202,3.694,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1930-01-01,92.160,1089.785,NaN,NaN,123188.0,15.821,NaN,NaN,4.444,4.121,...,NaN,0.80078,2.936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1931-01-01,77.391,1019.977,NaN,NaN,124149.0,9.097,NaN,NaN,2.906,2.905,...,NaN,-0.59697,1.939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1932-01-01,59.522,888.414,NaN,NaN,124949.0,3.977,NaN,NaN,1.975,1.932,...,NaN,-4.59494,1.624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1933-01-01,57.154,877.431,NaN,NaN,125690.0,3.940,NaN,NaN,1.987,1.929,...,NaN,-4.55261,2.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<font size=5, font color='blue'> Check whether the two dataframes have the same number of rows, which means equal number of data points / observations. Column numbers of the two dataframes may differ due to the difference between Stata and Python APIs, and so do the order, datatypes and names of columns and the order of rows, which is why we don't require a complete match between python_df and stata_df.

In [3]:
stata_df.shape[0]==python_df.shape[0]

True

In [4]:
stata_df.drop(['datestr','daten'],axis=1,inplace=True)
python_df.reset_index(inplace=True, drop=True)

In [7]:
stata_df = stata_df.astype('float64')
python_df = python_df.astype('float64')

In [8]:
python_df.equals(stata_df)

False

<font size=5, font color='blue'> The difference between the values in python_df and stata_df is extremely small.

In [9]:
diff_mask = python_df.ne(stata_df)             
row_diff = diff_mask.any(axis=1)   

diff_index_labels = python_df.index[row_diff]
diff_index_labels

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       941, 942, 943, 944, 945, 946, 947, 948, 949, 950],
      dtype='int64', length=951)

In [10]:
python_df-stata_df

,GDPA,GDPCA,A939RX0Q048SBEA,FPCPITOTLZGUSA,B230RC0A052NBEA,A929RC1A027NBEA,W006RC1Q027SBEA,W068RCQ027SBEA,EXPGSA,IMPGSA,...,RIFSPFFNA,FYFSGDA188S,AFRECPT,BOGMBASE,M1SL,M2SL,UNRATE,USSTHPI,BOGZ1FL073161113Q,RIFSGFSM03NA
0,2.441406e-07,-0.000023,NaN,NaN,0.0,-8.697510e-07,NaN,NaN,-1.296997e-07,-2.326965e-07,...,NaN,1.050949e-08,-5.722046e-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-3.662109e-06,-0.000034,NaN,NaN,0.0,-9.918213e-08,NaN,NaN,2.326965e-07,1.869202e-07,...,NaN,1.697540e-09,-1.087189e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.159668e-06,0.000010,NaN,NaN,0.0,-1.220703e-07,NaN,NaN,1.010895e-07,2.861023e-08,...,NaN,2.172470e-08,-1.049042e-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.408691e-07,-0.000001,NaN,NaN,0.0,1.907349e-09,NaN,NaN,-2.384186e-08,-4.100800e-08,...,NaN,1.855469e-07,4.673004e-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.713867e-07,-0.000030,NaN,NaN,0.0,-5.722046e-08,NaN,NaN,1.144409e-08,-2.002716e-08,...,NaN,-7.949829e-08,4.768372e-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,NaN,NaN,0.0,NaN,NaN,NaN,0.000115,-0.000031,NaN,NaN,...,NaN,NaN,NaN,0.000098,-0.000781,0.000000,0.000000e+00,-0.00001,0.0,NaN
947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.000195,0.000781,-0.000781,9.536743e-08,NaN,NaN,NaN
948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.000195,0.000391,-0.000781,1.907349e-07,NaN,NaN,NaN
949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000098,0.000000,0.000000,1.907349e-07,NaN,NaN,NaN
950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.907349e-07,NaN,NaN,NaN