<font size=5, font color='blue'> stata_df is the dataframe downloaded through Stata API

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

stata_df = pd.read_stata("IDCM.dta")
stata_df.head()

,period,period_start_day,value,frequency,dataset_code,dataset_name,accounting_entry,activity,adjustment,counterpart_area,...,ref_area,ref_sector,sto,transformation,unit_measure,indexed_at,provider_code,series_code,series_name,series_num
0,2000,2000-01-01,1113.7784,annual,IDCM,"National accounts, Main aggregates in the Inte...",C,_Z,N,W1,...,AD,S1,P7,N,XDC,2025-02-03T10:42:49.455Z,ECB,A.N.AD.W1.S1.S1.C.P7._Z._Z._Z.XDC.V.N,Annual – Neither seasonally adjusted nor calen...,Master
1,2001,2001-01-01,1164.5364,annual,IDCM,"National accounts, Main aggregates in the Inte...",C,_Z,N,W1,...,AD,S1,P7,N,XDC,2025-02-03T10:42:49.455Z,ECB,A.N.AD.W1.S1.S1.C.P7._Z._Z._Z.XDC.V.N,Annual – Neither seasonally adjusted nor calen...,Master
2,2002,2002-01-01,1272.0211,annual,IDCM,"National accounts, Main aggregates in the Inte...",C,_Z,N,W1,...,AD,S1,P7,N,XDC,2025-02-03T10:42:49.455Z,ECB,A.N.AD.W1.S1.S1.C.P7._Z._Z._Z.XDC.V.N,Annual – Neither seasonally adjusted nor calen...,Master
3,2003,2003-01-01,1339.8700,annual,IDCM,"National accounts, Main aggregates in the Inte...",C,_Z,N,W1,...,AD,S1,P7,N,XDC,2025-02-03T10:42:49.455Z,ECB,A.N.AD.W1.S1.S1.C.P7._Z._Z._Z.XDC.V.N,Annual – Neither seasonally adjusted nor calen...,Master
4,2004,2004-01-01,1414.8110,annual,IDCM,"National accounts, Main aggregates in the Inte...",C,_Z,N,W1,...,AD,S1,P7,N,XDC,2025-02-03T10:42:49.455Z,ECB,A.N.AD.W1.S1.S1.C.P7._Z._Z._Z.XDC.V.N,Annual – Neither seasonally adjusted nor calen...,Master

<font size=5, font color='blue'> python_df is the dataframe downloaded through Python API.

In [2]:
python_df = pd.read_pickle("IDCM.pkl")
python_df.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,...,Reference sector,Counterpart sector,Accounting entries,"Stocks, Transactions, Other Flows",Instrument and assets classification,Activity classification,"Expenditure (COFOG, COICOP, COPP or COPNI)",Unit of measure,Prices,Transformation
0,annual,ECB,IDCM,"National accounts, Main aggregates in the Inte...",A.N.AD.W2.S1.S1.B.B1GQ._Z._Z._Z.XDC.Q.N,Annual – Neither seasonally adjusted nor calen...,2000,2000-01-01,1991.6637,1991.6637,...,Total economy,Total economy,Balance (Credits minus Debits),Gross domestic product at market prices,Not applicable,Not applicable,Not applicable,Domestic currency (incl. conversion to current...,Constant prices,Non transformed data
1,annual,ECB,IDCM,"National accounts, Main aggregates in the Inte...",A.N.AD.W2.S1.S1.B.B1GQ._Z._Z._Z.XDC.Q.N,Annual – Neither seasonally adjusted nor calen...,2001,2001-01-01,2153.3720,2153.3720,...,Total economy,Total economy,Balance (Credits minus Debits),Gross domestic product at market prices,Not applicable,Not applicable,Not applicable,Domestic currency (incl. conversion to current...,Constant prices,Non transformed data
2,annual,ECB,IDCM,"National accounts, Main aggregates in the Inte...",A.N.AD.W2.S1.S1.B.B1GQ._Z._Z._Z.XDC.Q.N,Annual – Neither seasonally adjusted nor calen...,2002,2002-01-01,2251.2742,2251.2742,...,Total economy,Total economy,Balance (Credits minus Debits),Gross domestic product at market prices,Not applicable,Not applicable,Not applicable,Domestic currency (incl. conversion to current...,Constant prices,Non transformed data
3,annual,ECB,IDCM,"National accounts, Main aggregates in the Inte...",A.N.AD.W2.S1.S1.B.B1GQ._Z._Z._Z.XDC.Q.N,Annual – Neither seasonally adjusted nor calen...,2003,2003-01-01,2447.0017,2447.0017,...,Total economy,Total economy,Balance (Credits minus Debits),Gross domestic product at market prices,Not applicable,Not applicable,Not applicable,Domestic currency (incl. conversion to current...,Constant prices,Non transformed data
4,annual,ECB,IDCM,"National accounts, Main aggregates in the Inte...",A.N.AD.W2.S1.S1.B.B1GQ._Z._Z._Z.XDC.Q.N,Annual – Neither seasonally adjusted nor calen...,2004,2004-01-01,2646.0804,2646.0804,...,Total economy,Total economy,Balance (Credits minus Debits),Gross domestic product at market prices,Not applicable,Not applicable,Not applicable,Domestic currency (incl. conversion to current...,Constant prices,Non transformed data

<font size=5, font color='blue'> Check whether the two dataframes have the same number of rows, which means equal number of data points / observations. Column numbers of the two dataframes may differ due to the difference between Stata and Python APIs, and so do the order, datatypes and names of columns and the order of rows, which is why we don't require a complete match between python_df and stata_df.

In [3]:
stata_df.shape[0]==python_df.shape[0]

True

<font size=5, font color='blue'> ['period_start_day'] in stata_df is the most accurate timestamp assigned to each observation (row). In python_df its equivalent is ['period'], so we rename it to match the column name in stata_df. We match the datatype of the two columns by converting both of them to pandas datetime objects. We also convert the datatype of ['value'] in stata_df to numeric.

In [4]:
python_df.rename(columns={'period':'period_start_day'},inplace=True)
stata_df['period_start_day'] = pd.to_datetime(stata_df['period_start_day'])
python_df['period_start_day'] = pd.to_datetime(python_df['period_start_day'])
stata_df['value'] = pd.to_numeric(stata_df['value'],'coerce')

<font size=5, font color='blue'> Check whether ['period_start_day', 'series_code'] can identify a unique row in both stata_df and python_df, if not then there is a duplication or error in Dbnomics.

In [5]:
cols = ['period_start_day', 'series_code']
sum(stata_df.duplicated(subset=cols))+sum(python_df.duplicated(subset=cols)) == 0

True

<font size=5, font color='blue'> Then we sort the two dataframes by ['period_start_day', 'series_code']. This ensures observations in the two dataframes are in the same order. Finally we check whether the two sub-frames [['period_start_day','series_code','value']] sliced from stata_df and python_df are exactly the same.

In [6]:
stata_sub = stata_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
python_sub = python_df.sort_values(by=cols)[cols+['value']].reset_index(drop=True)
stata_sub.equals(python_sub)

True